--offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }

.websiteInfo {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Roboto';


}

.websiteInfo .container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.websiteInfo .introduction{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.websiteInfo .introduction .origin p{
    text-align: left;
    display: inline-block;
    margin-bottom: 2.5rem;
    color: var(--main-text-color);
}

.websiteInfo .introduction .origin h1{
    text-align: left;
    display: inline-block;
    line-height: 40px;
    color: var(--main-title-color);
}

.websiteInfo .introduction .myself p{
    text-align: left;
    display: inline-block;
    margin-bottom: 2.5rem;
    color: var(--main-text-color);
}

.websiteInfo .introduction .myself h1{
    text-align: center;
    /*display: inline-block;
    If something breaks, uncomment this line*/
    line-height: 50px;
    margin-bottom: 2.5rem;
    color: var(--main-title-color);
}

.websiteInfo .introduction .myself .members{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.websiteInfo .introduction .myself .members .person{
    flex-basis: 45%;
    text-align: center;
    border: 1px solid black;
    margin: 0.5rem;
    padding: 2.5rem;
}

.websiteInfo .introduction .myself .members .person h2{
    color: var(--main-title-color);
    margin: 0;
    font-size: 1.55rem;
}

.websiteInfo .introduction .myself .members .person p{
    color: black;
    text-align: center;
    margin: 0.5rem 1rem;
    display: block;
}

.websiteInfo .introduction .myself .members .person a{
    display: inline-block;
    color: black;
    margin: 0 0 1rem 0;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15rem var(--main-title-color);
    transition: --offset 400ms, text-decoration-color 400ms;
}

.websiteInfo .introduction .myself .members .person a:hover,
.websiteInfo .introduction .myself .members .person a:focus {
  --offset: 0.4em;
  text-decoration-color: orange;
}

.websiteInfo .introduction .myself .members .person ul.connect {
    padding: 0;
    margin: 0;
}

.websiteInfo .introduction .myself .members .person ul.connect li{
    display: inline;  
    padding: 0.25rem;
    font-size: 1.5rem;
}

.websiteInfo .utilities{
    margin-left: 5%;
    flex-basis: 45%;
    flex-direction: column;
}

.websiteInfo .utilities .social-media p {
    text-align: left;
    color: var(--main-text-color);
}

.websiteInfo .utilities .social-media h1 {
    text-align: left;
    color: var(--main-title-color);
}


.websiteInfo .utilities .social-media ul.connect{
    list-style: none;
    color: var(--main-text-color);
    padding: 0;
}

.websiteInfo .utilities .social-media ul.connect li{
   margin-bottom: 0.5rem;
   text-align: left;
}

.websiteInfo .utilities .social-media ul.connect a {
    font-size: 1.5rem;
    color: var(--main-text-color);
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15rem;
    transition: --offset 400ms, text-decoration-color 400ms;
}

.websiteInfo .utilities .social-media ul.connect i {
    margin-right: 0.5rem;
}

.websiteInfo .utilities .social-media ul.connect a:hover {
    text-decoration-color: orange;
}

.websiteInfo .utilities .roadmap {
    display: inline-block;
    color: var(--main-text-color);
}

.websiteInfo .utilities .roadmap h1{
    display: inline-block;
    color: var(--main-title-color);
    text-align: left;
}


.websiteInfo .utilities .roadmap a {
    color: black;
    font-size: 1.2rem;
    border-radius: 15px;
    height: 3rem;
    width: 12rem;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15rem;
    transition: --offset 400ms, text-decoration-color 400ms;
}

.websiteInfo .utilities .roadmap a:hover,
.websiteInfo .utilities .roadmap a:focus {
  --offset: 0.4em;
  text-decoration-color: orange;
}

@supports not (background: paint(something)) {
    .websiteInfo .utilities .roadmap a {
      transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }
    
    .websiteInfo .utilities .roadmap a:hover,
    .websiteInfo .utilities .roadmap a:focus {
      text-underline-offset: 0.4em;
    }
  }

.websiteInfo .utilities .roadmap button:hover{
    box-shadow: inset 12rem 0 0 0 white;
    color: black;
}

@media screen and (max-width: 600px) {
    .websiteInfo .container {
        flex-direction: column;
    }

    .websiteInfo{
        line-height: 3rem;
    }

    .websiteInfo .utilities{
        margin-left: 0;
    }

    .websiteInfo .introduction .myself .members{
        flex-direction: column;
        text-align: center;
    }
}