.postContainer {
    display: flex;
    justify-content: center;
}

.sectionTitle h1 {
    text-align: center;
    color: black;
    font-family: sans-serif;
}

.postContainer .empty {
    height: 100vh;
}