.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.container .post{
    background-color: var(--content-background-color);
    margin: 2.5rem;
    padding: 2.5rem;
    width: 20rem;
    text-align: center;
    box-shadow: 5px 10px;
}

.container img{
    width: 20rem;
    height: 15rem;
    padding: 0.5rem 0;
    border-radius: 3px;
}

.container .post button{
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    height: 3rem;
    width: 10rem;
    
    transition: ease-out 0.3s;
}

.container .post button:hover{
    box-shadow: inset 10rem 0 0 0 white;
    color: black;
}



