--offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }

@font-face {
    font-family: cano;
    src: url(fonts/SVN-Canopee.otf);
}  

body {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 2.5rem 2.5rem 2.5rem;
  align-items: center;
  align-self: center;
}

.container h2 {
  color: white;
  font-family: 'Helvetica';
}

.container .favoritePosts{
    display: grid;
    grid-template-columns: 35rem 15rem;
    grid-gap: 10px;
}

.container .favoritePosts .mainPost {
  grid-row-start: 1;
  grid-row-end: 3;
}

.container .favoritePosts .mainPost img {
  width: 35rem;
  height: 29rem;
}

.container .favoritePosts .mainPost, .subPost1, .subPost {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container .favoritePosts .mainPost h2 {
  color: black;
  font-family: 'Helvetica';
  text-align: center;
}


.container .favoritePosts .subPost h2 {
  color: black;
  font-family: 'Helvetica';
  text-align: center;
}


.container .favoritePosts .subPost1 h2 {
  color: black;
  font-family: 'Helvetica';
  text-align: center;
}

@supports not (background: paint(something)) {
  .container .post a {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }
  
  .container .post a:hover,
  .container .posta:focus {
    text-underline-offset: 0.4em;
  }
}




