--offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }

@font-face {
    font-family: cano;
    src: url(fonts/SVN-Canopee.otf);
}  

.container{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; */
}

.container h2 {
  color: white;
  font-family: 'Roboto';
  text-align: center;
}

.container .mainPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .mainPost img {
  width: 35rem;
  height: 30rem;
  position: relative;
}

.container .mainPost .mainTitle {
  background-color: white;
  width: 35rem;
  height: 8rem;
  top: 10rem;
  justify-content: center;
}

.container .mainPost .mainTitle h2 {
  color: black;
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
}

@supports not (background: paint(something)) {
  .container .post a {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }
  
  .container .post a:hover,
  .container .posta:focus {
    text-underline-offset: 0.4em;
  }
}




