--offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }

.container {
    text-align: justify;
    line-height: 1.5rem;
    font-family: 'Roboto';
    font-size: 1.1rem;
    color: white;
    margin: 2.5% 10% 10% 10%;
}

.container a.interactBtn {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    height: 3rem;
    width: 12rem;
    
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15rem;
    transition: --offset 400ms, text-decoration-color 400ms;
}

.container a.interactBtn:hover, .container a.interactBtn:focus{
    --offset: 0.4em;
    text-decoration-color: orange;
}