/*
These are the design and visual aspect of these following elemnents:
- Navigation Bar
- Website's title
- Footer
*/

--offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }

:root{
    --main-title-color:  #ffcc66;
    --main-text-color: white;
    --background-main-theme: black;
    --content-background-color: #EFEFEF;
}

body {
    font-size: 1.3125rem;
    background-color: var(--background-main-theme);
} 

nav{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: white;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}


ul.topnav li a{
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: var(--main-title-color);
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15rem;
    transition: --offset 400ms, text-decoration-color 400ms;
    color: var(--main-title-color);
    padding: 0.5rem 0.5rem;
    text-align: center;
    float: right;
    display: block;
    min-height: 2rem;
}


ul.topnav li img {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: var(--main-title-color);
    padding: 0.5rem 0.5rem;
    text-align: center;
    float: right;
    display: block;
    min-height: 2rem;
}


ul.topnav li a:focus,ul.topnav li a:hover{
  --offset: 0.4em;
  text-decoration-color: orange;
}

@supports not (background: paint(something)) {
    ul.topnav li a {
      transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }
    
    ul.topnav li a:hover,
    ul.topnav li a:focus {
      text-underline-offset: 0.4em;
    }
  }



ul.topnav .dropDownIcon{
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav li.dropDownIcon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.dropDownIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive li img {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive li a {
        float: none;
        display: block;
        text-align: left;
        
    }
}

.header{
    text-align: center;
    margin: 1rem 0;
}

.header h1{
    font-size: 4rem;
    font-family: 'Roboto';
    color:  var(--main-title-color);
    margin: 0;
}

.header hr{
    width: 50%;
}

.header p{
    font-family: 'Roboto';
    font-size: 2rem;
    text-align: center; 
    color: var(--main-text-color);
    margin: 0;  
}

.section-title h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 3rem;
    color: var(--main-title-color);
    margin: 1rem 0;
}

.section-title hr{
    width: 50%;
}


.websiteAss {
    background-color: var(--background-main-theme);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    font-size: 1rem;
}

.websiteAss .navigation{
    width: 20rem;
    margin: 2rem; 
}

.websiteAss .navigation h2{
    color: var(--main-title-color);
    text-decoration: underline;
}

ul.navigationList{
    padding: 0;
    margin: 0;
}

ul.navigationList li{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
}

.websiteAss .navigation a{
    text-decoration: none;
    color: white;
}

.websiteAss .about{
    margin: 2rem; 
    width: 20rem;
}

.websiteAss .about h2{
    color: var(--main-title-color);
    text-decoration: underline;
}

.websiteAss .about ul.connect {
    padding: 0;
    margin: 0;
}

.websiteAss .about ul.connect li{
    display: inline;  
    padding: 0.1rem;
    font-size: 2rem;
}


.websiteAss .about i{
    color: white;
}


.websiteAss .subscribeAndSurvey{
    margin: 2rem; 
    width: 20rem;
}

.websiteAss .subscribeAndSurvey h2{
    color: var(--main-title-color);
    text-decoration: underline;
}