body {
  background-color:  #EFEFEF;
  font-size: 1.3125rem;

}

nav {
    display: block;
    width: 100%;
    margin: 0;
}


nav ul {
    background-color: #A9A9A9;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.topnav-left a {
    font-family: 'Roboto';
    color: white;
}

ul.topnav-left li {
    list-style: none;
    float: left;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    color: white;
    padding: 14px;
    text-transform: uppercase;
}

header{
    height: 10rem;
    width: 80%;
    background-color: black;
}

.header h1 {
    font-size: 4rem;
    font-family: 'Uchen';
    color:  #00004d;
    margin: 0;
    text-align: center;
}

.header p{
    font-family: 'Zen Loop';
    font-size: 2rem;
    text-align: center; 
    color: #00004d;
    margin: 0;  
}

.header hr{
    width: 50%;
    text-align: center;
}
.title{
    font-size: 3rem;
    font-family: Roboto;
    margin-bottom: 0;
    text-align: center;
    color: #A9A9A9;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container img{
    width: 15rem;
    height: 10rem;
}

.container .post button{
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
}

.post{
    background-color: white;
    margin: 2.5rem;
    padding: 2.5rem;
    width: 20rem;
    text-align: center;
    box-shadow: 5px 10px;
}
