
body {
  background-color:  #ffffff;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
}


nav ul {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.topnav-left a {
    font-family: 'Roboto';
    color: white;
}

ul.topnav-left li {
    list-style: none;
    float: left;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    color: white;
    padding: 14px;
    text-transform: uppercase;
}

.header{
    height: 20vh;
    margin-bottom: 5vmin;
}

.header h1 {
    font-size: 10vmin;
    font-family: 'Uchen', serif;
    color: black;
    text-align: center;   
    margin: 0;
}

.header p{
    font-family: 'Zen Loop';
    font-size: 5vmin;
    text-align: center; 
    margin: 0;  
}

.header hr{
    width: 50%;
    text-align: center;
}

.recentPostContainer{
    display: flex;
    justify-content: center;
}

.recentPost{
    margin: 10px;
    width: 30vw;
    height: 55vh;
    border-width: 3px;
    border-color: black;
    border-style:solid;
    border-radius: 10px;
}