body {
  background-color:  white;
  font-size: 1.3125rem;

}

nav{
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.topnav-left img{
    font-size: 1.5rem;
    margin: 1rem 1rem;
    float: left;
}

.topnav-left ul, li{
    display: inline;
    padding: 0;
    list-style: none;
}

.topnav-left a{
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-decoration: none;
    color: #00004d;
    margin: 1rem 1rem;
    border-radius: 50px;
    text-align: center;
    float: left;
    display: block;
}

.topnav-right{
    float: right;
    transition: ease-out 0.3;
}

.topnav-right:hover{
    color: black;
    text-decoration: solid;
}

.topnav-left .dropDownIcon{
    display: none;
}

@media screen and (max-width: 680px) {
    .topnav-left li:not(:first-child) {
        display: none;
    }
    .topnav-left li.dropDownIcon {
      float: right;
      display: block;
    }
  }
  

.header{
    text-align: center;
}


.header h1{
    font-size: 4rem;
    font-family: 'Uchen';
    color:  #00004d;
    margin: 0;
}

.header hr{
    width: 50%;
}

.header p{
    font-family: 'Zen Loop';
    font-size: 2rem;
    text-align: center; 
    color: #00004d;
    margin: 0;  
}

.title{
    font-size: 3rem;
    font-family: Roboto;
    margin-bottom: 0;
    text-align: center;
    color: #00004d;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container img{
    width: 20rem;
    height: 15rem;
    border-radius: 3px;
}

.container .post button{
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    height: 3rem;
    width: 10rem;

    transition: ease-out 0.3s;
}

.container .post button:hover{
    box-shadow: inset 10rem 0 0 0 white;
    color: black;
}

.container .post{
    background-color: #EFEFEF;
    margin: 2.5rem;
    padding: 2.5rem;
    width: 20rem;
    text-align: center;
    box-shadow: 5px 10px;
}

.websiteAss {
    background-color: #1f1f2e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.websiteAss .navigation{
    width: 20rem;
    margin: 2rem; 
}

.navigationList li{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
}

.websiteAss .navigation a{
    text-decoration: none;
    color: white;
}

.websiteAss .about{
    margin: 2rem; 
    width: 20rem;
}

.websiteAss .about li, ul{
    display: inline;  
    padding: 0.1rem;
    font-size: 2rem;
}


.websiteAss .about i{
    color: white;
}


.websiteAss .subscribeAndSurvey{
    margin: 2rem; 
    width: 20rem;

}